@{
    ViewData["Title"] = "Hotel Hügô Breakfast System";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel Hügô</h1>
    <p>This is our official employee website. Please login to continue. </p>
    <div>
        <partial name="_LoginHomePartial" />
    </div>
    
    <p>Note from creators (Group 19): Automatic seed data is generated (if necessary) upon visiting Arrivals at breakfast</p>
    <p>Kitchen staff can view current check in status, and reservations under "Arrivals at breakfast".
        <button class="btn btn-primary"><a asp-controller="ArrivalsAtBreakfasts" asp-action="Index" class="text-light">Kitchen</a></button>

        Restaurant servants can check people into todays breakfast under "Arrivals at breakfast". 
        <button class="btn btn-primary"><a asp-controller="ArrivalsAtBreakfasts" asp-action="Index" class="text-light">Restaurant</a></button>

        Receptionists can make breakfast reservations under "Breakfast reservations"
        <button class="btn btn-primary"><a asp-controller="BreakfastReservations" asp-action="Index" class="text-light">Reception</a></button>

        </p>

</div>
