@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Breakfast Management System</h1>
    <p>
        Welcome to group 19's Hotel Breakfast Management System
    </p>
    <p>Automatic seed data is generated (if necessary) upon visiting Arrivals at breakfast</p>
    <p>Click login above, to access system</p>
</div>
