@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Hotel Hügô</h1>
    <p>This is our official employee website. Please login to continue. </p>
    <div>
        <partial name="_LoginHomePartial" />
    </div>
    
    <p>Note from creators (Group 19): Automatic seed data is generated (if necessary) upon visiting Arrivals at breakfast</p>
    

</div>
