@model IEnumerable<GUI_Assignment2_Breakfast_Group19.Models.ArrivalsAtBreakfast>

@{
    ViewData["Title"] = "Calendar with breakfast reservations";
}

<h1>Calendar with breakfast reservations</h1>

<p>
    <button class="btn btn-primary"><a asp-action="Create" class="text-light">Create New Date</a></button>

    <button class="btn btn-primary"><a asp-controller="Room" asp-action="CreateArrival" class="text-light">Check-in for new arrival</a></button>
</p>
<p>Click on a date to see Check-in and reservations details for that day</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {

    <tr>
        <td><a asp-action="Details" asp-route-id="@item.ArrivalsAtBreakfastId">
            @item.Date.Date.ToString("D")
        </a></td>
        
            <td>
                <a asp-action="Delete" asp-route-id="@item.ArrivalsAtBreakfastId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
