@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="btn login-front">
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello @User.Claims.FirstOrDefault(x=>x.Type=="FullName").Value!</a>
        </p>
        <div>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-primary btn-space text-light">Logout</button>
            </form>
        </div>
    }
    else
    {

        <button class="btn btn-primary login-front btn-space " >
            <a class="text-light" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </button>
        <button class="btn btn-primary login-front btn-space">
            <a class="text-light" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </button>
    }
</ul>